<launch>
	<include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>
	<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcast"
		args="0 0 0 0 0 0 base_link laser 100"/>
	<!-- Gmapping node /map -->
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
		<remap from="scan" to="scan"/>
		<remap from="odom" to="odom"/>
	</node> 
</launch>
